<div class="card">
  <div class="card-body text-white">
    AUTO SERVIS PERIĆ je tvrtka u privatnom vlasništvu, koja je počela s radom
    još davne 1968. godine te raspolaže vrhunskim stručnjacima koji uz
    najmodernije uređaje mogu pružiti zadovoljavajuću uslugu servisiranja i
    održavanja svih vrsta motornih vozila. Nalazimo se na jednoj od četiri
    glavne prometnice u Dubravi i posjedujemo servisno prodajni prostor 375 m2,
    termolakirnica 250 m2 te skladišno kancelarijski prostor od 150 m2.
    Održavamo i servisiramo veliki broj osobnih vozila te vozila privatnih i
    javnih poduzeća. Poslujemo sa vodećim osiguravajućim i leasing kućama u
    Hrvatskoj te omogućava direktnu naplatu od osiguravajuće kuće.
  </div>
</div>
