<div class="card">
  <div class="card-body text-white">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Auto servis Perić</li>
      <li class="list-group-item">Dankovečka 87, 10 040 Zagreb</li>
      <li class="list-group-item">OIB: 13352879212</li>
      <li class="list-group-item">Žiro račun: HR98 2500009-1101153839</li>
      <li class="list-group-item">
        Direktor: Zrinko Perić, mail: zrinko.peric@auto-peric.hr
      </li>
      <li class="list-group-item">
        Servis: TEL: 01/ 2930-888 FAX: 01/ 2930-800
      </li>
      <li class="list-group-item">Mail: info@auto-peric.hr</li>
      <li class="list-group-item">Radno vrijeme Pon-Pet: 08-17 Sub: 08-12</li>
    </ul>
  </div>
</div>
