/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("../src/assets/images/wrenches.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url("../src/assets/images/wrenches.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.card {
  background-color: rgba(85, 85, 85, 0.377) !important;
}
